* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*background-color: skyblue;*/
	/*background-image: url("https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1497&q=80");*/
	background-image: linear-gradient(rgba(180,180,180,0.5),rgba(180,180,180,0.5)),url("https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1497&q=80");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #333;
	font-family: 'Rubik', sans-serif;

}

#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: #420000;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
	object-fit: cover;
	box-shadow: 5px 5px 10px rgba(0,0,0, .2)
}

h1 {
	font-size: 50px;
	/*background-color: #333;*/
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 5px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 15px;
	margin-bottom: 15px;
	/*background-color: #333;*/
	padding: 10px;
	border-radius: 10px;
}

.bio {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	/*background-color: rgba(51,51,51,0.5);*/
	line-height: 1.75;
}

.container {
	width: 500px;
	text-align: center;
	margin: 0 auto;
}
